<div class="container">
    <form [formGroup]="profileInfoForm">
        <div class="row">
            <mat-form-field class="form-field">
                <input matInput placeholder="Enter pharmacy name" formControlName="name">
            </mat-form-field>
        </div>
        <div class="row">
            <form class="form-field">
                <mat-form-field  appearance="fill">
                  <mat-label>State</mat-label>
                  <input matInput
                         aria-label="State"
                         [matAutocomplete]="auto"
                         [formControl]="stateCtrl">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let state of filteredStates | async" [value]="state.name" (click)="getStateData(state)">
                      <img class="example-option-img" aria-hidden [src]="state.flag" height="25">
                      <span>{{state.name}}</span>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </form>
        </div>
        <div class="row">
            <mat-form-field class="form-field">
                <input matInput placeholder="Ender city" formControlName="city">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="form-field">
                <input matInput placeholder="Enter address" formControlName="address">
            </mat-form-field>
        </div>
        <div class="row">
            <div class="full"  id="map">
    
            </div>
        </div>
        <div class="row">
            <mat-form-field class="form-field">
                <textarea matInput placeholder="Enter pharmacy description" formControlName="description"></textarea>
            </mat-form-field>
        </div>

        <div class="row">
            <button mat-raised-button color="primary" (click)="update()">Update</button>
        </div>
    </form>
</div>