
.form-field {
    width: 30vw;
}

.formfield-row {
    display: flex;
    justify-content: left;
}

.formfield-col {
    display: left;
    justify-content: center;
}

.button-row {
    display: flex;
    justify-content: center;
}

.button-col {
    display: flex;
    justify-content: left;
}

.main-container {
    display: flex;
    justify-content: center;
}