<mat-toolbar >
    <mat-toolbar-row>
        <span><a routerLink="/" class="logo"></a></span>
        <span class="example-spacer"></span>
        <span><a routerLink="/" class="link">Profile</a></span><span class="tab"></span>
        <span><a routerLink="/" class="link">Clients</a></span><span class="tab"></span>
        <span><a routerLink="/" class="link">Examination</a></span><span class="tab"></span>
        <span><a routerLink="/" class="link">Report</a></span><span class="tab"></span>
        <span><a routerLink="/" class="link">Calendar</a></span><span class="tab"></span>
        <span><a routerLink="/" class="link">Vacation request</a></span><span class="tab"></span>
        <span><a routerLink="/" class="link">Logout</a></span>
       
      </mat-toolbar-row>
</mat-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>  